/* SIDE UI BLOCKS */

#framinosona-menu-top-bar {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 0 1.4em;
  background-color: #0b304195; /* @darker-blue */
  color: white;
  z-index: 999;
  display: flex;
  align-items: center;
}

#framinosona-menu-top-bar h1 {
  font-size: 1.2em;
  font-weight: 500;
}
#framinosona-menu-top-bar h1 small{
  font-weight: 200;
}
#framinosona-menu-top-bar h1 a {
  color: #87ceeb;
  text-decoration: none;
}
